<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha512-HsZ1i9vlo01lbae+KIl//6KPxkOO6xSPI2PefsZiC8LmSW9KDWMYK9jhNqE9XsbjGyrnQAZ6sSHvtnR12sJPjA==" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg==" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" integrity="sha512-gzsDzZKwY3mJWOtC5MviMWjvGPL+FdPaxN62NTXdu0hiogj9QnpY8gpu6QGk9RExu13mOvFpHbkLfB0E31jwOQ==" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap.min.js" integrity="sha512-RA3qzjBY4vccd5aCAuSeZUo4/X0wYyUBbHmyDvVpQYNesAvWZH6fB5RK6slf7+0wxzwsH1ko8ouO8oXH+XkFZA==" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js" integrity="sha512-g6Fq63JElgOjtGUH9Q9i2UXkJFb9xYC7Yy/7FrDrejxqjbn6y/tipTxdVrCEiOr8gzLHyG5m7IaVQMKfyKxDBA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" integrity="sha512-7fNh7OUGa7bdpmSQ81iNxgBywspNTxVxBxfbT1gSnQ124VGfksj3AR/QGhdYaO8ZLHBLSoaa+VsVDgw795eBaw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js" integrity="sha512-gn8nfou+jxKzIB12SukaRgYVOhKaf/Vd6lwSmv07eKGmU1XsdpGU0DUNQBJQr70ew/gawrPqLlmxExC/9hA75Q==" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.zoomshowhide@0.1.0/dist/leaflet-zoom-show-hide.min.js" integrity="sha512-//RiK5Ed+Wszv0j0ntM3JVb/icgx0I5RATBICMryFulyrglGGL36AFBf+Dlr8pwmCx5pijNpPjfgvZW1TeN+PQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.4.0/chroma.min.js" integrity="sha512-NGWa8dShxoI7BMIaVxXT7G6/KSAaelrcOgHFEdbGdN1M4gbpOj8cLEa3OSnL/rHiDpoMokW96OP3T/TRIGGi5A==" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
<script src="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js" integrity="sha512-rqjieCWeEZ9F1zMhh522cBrceXnUUO3bePHTVqpfi8jC0PQjLZAPfMQNqQYqeOyIWDYNFT8aJw4A25bfCYBmTw==" crossorigin="anonymous"></script>
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js" integrity="sha512-gyvCiKy2sIRwqd5QeTyyeJBTPx5OQdyluEFSIe1KnKDi0DM0w/T+T8iczSYRRcwmMYGVixYL2QGKJ+8XylbyTA==" crossorigin="anonymous"></script>
<script src="https://bowercdn.net/c/leaflet.zoomhome-latest/dist/leaflet.zoomhome.min.js" integrity="sha512-Y+l2pNmWhfRtGPJjSYHXPTRRlp+z1GkHs0gHK8AlC8SArNIN5FbZUmT1gQRaJ8ngzcrFly38vMLixzlQ3Rl9Rg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-search@2.9.7/dist/leaflet-search.min.js" integrity="sha512-ZT0dz1DPPSb6xRqSwmxVyDO4KuUwBKFQAJcdAsa0FQP+cAcGGq7nYzVcIRg6UMRSfLScJTShX+K01V6tzGUbWA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js" integrity="sha512-HUmooslVKj4m6OBu0OgzjXXr+QuFYy/k7eLI5jdeEy/F4RSgMn6XRWRGkFi5IFaFgy7uFTkegp3Z0XnJf3Jq+g==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.3/dist/html2canvas.js" integrity="sha512-8UPOdRhB7y+LJbUYgjm7EkPjXnAYz3B24TyzngKvHjMcPstdWeTGQzrWe/ZHiNvUHT9fVB7HTxZMEf1udpvV2Q==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js" integrity="sha512-k8F8QynmFNURwbUJC8drKA+fo3YfNvjqKzStdydD6au+MzvxBoRnxH8E31RJXwDY9DrnEiPhh9wBoDSIxhkyHQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.2.2/dist/chartjs-plugin-annotation.min.js" integrity="sha256-XuHhf6q+GD7fscc96mTm/228GXf1Nn9wOYOE0EgeFzY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/regression@2.0.1/dist/regression.min.js" integrity="sha512-0k6FXllQktdobw8Nc8KQN2WtZrOuxpMn7jC2RKCF6LR7EdOhhrg3H5cBPxhs3CFzQVlO6ni1B9SDLUPhBs0Alg==" crossorigin="anonymous"></script>
<script src='{{ site.baseurl }}/assets/js/sdg.js?v={{ cache_bust }}'></script>
{%- if site.custom_js -%}
  {%- for custom_js_file in site.custom_js -%}
    <script src="{{ site.baseurl }}{{ custom_js_file }}?v={{ cache_bust }}"></script>
  {%- endfor -%}
{%- endif -%}
<script>
$(function() {
    if($('#indicatorData').length) {
      var domData = $('#indicatorData').data();
      $('.async-loading').each(function(i, obj) {
          $(obj).append($('<img />').attr('src', $(obj).data('img')));
      });
      $.ajax({
        url: opensdg.remoteDataBaseUrl + '/comb/' + domData.id + '.json',
        success: function(res) {
          $('.async-loading').remove();
          $('.async-loaded').show();
          var model = new indicatorModel({
            data: res.data,
            edgesData: res.edges,
            geoCodeRegEx: domData.geocoderegex,
            showMap: domData.showmap,
            country: domData.country,
            indicatorId: domData.indicatorid,
            shortIndicatorId: domData.id,
            chartTitle: domData.charttitle,
            measurementUnit: domData.measurementunit,
            copyright: domData.copyright,
            dataSource: domData.datasource,
            geographicalArea: domData.geographicalarea,
            showData: domData.showdata,
            footnote: domData.footnote,
            graphType: domData.graphtype,
            startValues: domData.startvalues
          }),
          view  = new indicatorView(model, {
            rootElement: '#indicatorData',
            legendElement: '#plotLegend',
            maxChartHeight: 420,
            tableColumnDefs: [
              { maxCharCount: 25 }, // nowrap
              { maxCharCount: 35, width: 200 },
              { maxCharCount: Infinity, width: 250 }
            ]
          }),
          controller = new indicatorController(model, view);
          controller.initialise();
        }
      });
    }
    var switcher = new accessibilitySwitcher();
});
</script>
