{% include head.html %}
{% include header.html %}
{% assign goal_number = page.sdg_goal %}
{% assign translated_goal = t.global_goals[goal_number] %}
{% include variables/targets.liquid goal_number=goal_number %}

<div class="heading goal-{{page.sdg_goal}}">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <img src="{{ site.baseurl }}/assets/img/goals/{{ current_language }}/{{ goal_number }}.png" alt="{{ translated_goal.short }} - {{ t.general.goal }} {{ goal_number }}" />
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h1>
          <span class="hidden-sm hidden-md hidden-lg">{{ t.general.goal }} {{ goal_number }}: </span>{{ translated_goal.title }}
        </h1>
        <h4>{{ t.localization.targets_localized }}</h4>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-indicators goal-{{page.sdg_goal}}">

  {{ content }}
  {% include components/breadcrumb.html %}

  <div class="visible-md-block visible-lg-block">
    <div class="col-md-6">
      <h4>{{ t.general.targets }}</h4>
    </div>
    <div class="col-md-6">
      <h4>{{ t.general.indicators }}</h4>
    </div>
  </div>

  {% assign counter = 0 %}
  {% for target_number in target_numbers %}

    <div class="indicator-cards target col-md-6">
      <span>
        <label class="hidden-md hidden-lg">{{ t.general.target }}</label>
        {{ target_number }}
      </span>
      {{ target_titles[counter] }}
    </div>
    <div class="indicator-cards col-md-6 row no-gutters">
    {% for indicator in target_indicators[counter] %}

      {% include variables/indicator_status.liquid reporting_status=indicator.reporting_status %}

      {% assign translated_indicator = t.global_indicators[indicator.indicator] %}

      <div class="col-md-12">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ indicator.indicator | slugify }}">
          <span>
            <label class="hidden-md hidden-lg">{{ t.general.indicator }}</label>
            {{ indicator.indicator }}
            <span class="status {{ status_css }}">{{ status_desc }}</span>
          </span> {{ translated_indicator.title }}
        </a>
      </div>
    {% endfor %}
    </div>
    {% assign counter = counter | plus: 1 %}
  {%- endfor -%}
</div>

{% include footer.html %}
